*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    height: 100%;

}
body{
    min-width: 1000px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
header{
    height: 5%;
    width: 98%;
    float: left;
    padding: 1%;
    background-color: antiquewhite;
    border-bottom: 2px solid silver;
}
.logo{
    width: 40%;
    float: left;
}
header .logo a{
    font-family: "Times New Roman";
    font-size: 2em;
    color: rgba(10,18,20,0.95);
}
header .logo span{
    color: #e36565;
}
.add-news{
    float: left;
    margin-left: 3%;
    background-color: salmon;
    padding: 5px;
    alignt: center;
    border-radius: 5px;
    border-style: dotted;
}
.add-news a{
    border-radius: 5px;
    color: #333333;
}
.add-news:hover{
    background-color: rgba(225,112,82,0.58);
}
.regAuth{
    width: 49%;
    float: left;
    text-align: right;
}

/*Filter*/
.filter{
    border-style: dotted;
    width: 25%;
    height: 50%;
    position: absolute;
    right: 2%;
    top: 20%;
}

aside {
    width: 260px;
    float: right;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    position: relative;

}

aside h2 {
    font-size: 25px;
    height: 28px;
    color: #333333;
    padding: 0 10px;
    border-style: dotted;
}

section span {
    font-size: 14px;
    line-height: 25px;
    display: block;
}

section {
    margin: 10px 30px;
    color: #444444;
}

section h3 {
    font-size: 14px;
    line-height: 25px;
}

.dateFilter span input {
    float: right;
}

.authorNameFilter span input {
    width: 100%;
}

.tagsFilter span input {
    width: 100%;
}

.authors li {
    margin-left: 15px;
}

.authors li a {
    padding: 0 3px;
    margin-right: 3px;
    font-size: 14px;
    border-radius: 3px;
}

.authors li a:hover {
    box-shadow: inset 100px 100px 120px #689e4f;
    color: #ffffff;
    border: none;
}

.tagsList {
    margin-left: 15px;
}

.smallButton {
    font-size: 14px;
    display: block;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 0 25px;
    background: #92d36e;
    text-align: center;
    margin: 10px 0;
}

.smallButton:hover {
    border: none;
    box-shadow: inset 100px 100px 120px #689E4F;
    color: #fff;
}
/*Footer*/
footer{
    background-color:antiquewhite;
    border-top: 2px solid silver;
    margin-top:10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
}
.rights{
    float: right;
    width: 100%;
    text-align: right;
}

/* Paginator */

.paginator {
    width: 300px;
    padding: 10px;
    margin: auto;
    position: absolute;
    bottom: 7%;
    left: 40%;
}

.paginator a,
.paginator span {
    display: inline-block;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px;
}

.paginator a:hover {
    box-shadow: inset 100px 100px 120px salmon;
    color: #333333;
    border: none;
}