* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;

}

body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

header {
    height: 5%;
    width: 98%;
    float: left;
    padding: 1%;
    background-color: antiquewhite;
    border-bottom: 2px solid silver;
}

.logo {
    width: 40%;
    float: left;
}

header .logo a {
    font-family: "Times New Roman";
    font-size: 2em;
    color: rgba(10, 18, 20, 0.95);
}

header .logo span {
    color: #e36565;
}

.add-news {
    float: left;
    width: 120px;
    padding: 10px 10px;
    background-color: salmon;
    text-align: center;
    border-radius: 10px;
}

.add-news a {
    border-radius: 5px;
    color: #333333;
}

.add-news:hover {
    background-color: rgba(225, 112, 82, 0.58);
}

.regAuth {
    width: 49%;
    float: left;
    text-align: right;
}

/* Post */
.news {
    border: 2px solid salmon;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    right: 30%;
    top: 15%;
    bottom: 65%;
}

.newsHeader {
    margin-left: 5px;
}
.newsHeader h1{

}
.news p {
    margin-top: 7px;
}

.leftimg {
    float: left;
    margin: 7px 7px 7px 5px;
}

.tags {
    border: 2px solid salmon;
    border-radius: 7px;
    background-color: salmon;
    margin-right: 3px;
    color: #333333;
}

.author {
    font-style: italic;
}

.date {
    font-style: italic;
}

.newsActions {
    float: right;
    margin-top: 1px;
    margin-right: 5px;
}

.viewButton {
    border: 2px solid salmon;
    border-radius: 7px;
    background-color: salmon;
    margin-right: 3px;
    color: #333333;
}

.editButton {
    border: 2px solid salmon;
    border-radius: 7px;
    background-color: salmon;
    margin-right: 3px;
    color: #333333;
}

.deleteButton {
    border: 2px solid salmon;
    border-radius: 7px;
    background-color: salmon;
    margin-right: 3px;
    color: #333333;
}

/*Filter*/
.filter {
    border: 2px solid salmon;
    height: 50%;
    position: fixed;
    right: 2%;
    top: 20%;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
}

aside h2 {
    font-size: 25px;
    height: 28px;
    color: #333333;
    padding: 0 10px;
}

section span {
    font-size: 14px;
    line-height: 25px;
    display: block;
}

section {
    margin: 10px 30px;
    color: #444444;
}

section h3 {
    font-size: 14px;
    line-height: 25px;
}

.dateFilter span input {
    float: right;
}

.authorNameFilter span input {
    width: 100%;
}

.tagsFilter span input {
    width: 100%;
}

.tagsList {
    margin-left: 15px;
}

.smallButton {
    font-size: 14px;
    display: block;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 0 25px;
    background: salmon;
    text-align: center;
    margin: 10px 0;
    color: #333333;
}

.area-text {
    width: 100%;
    height: 70px;
}

.smallButton:hover {
    border: none;
    box-shadow: inset 100px 100px 120px rgba(225, 112, 82, 0.58);;
}

/* Paginator */

.paginator {
    width: 120px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: salmon;
    position: absolute;
    bottom: 7%;
    left: 41%;
    text-align: center;
}

.paginator a {
    color: #333333;
}

.paginator a:hover {
    box-shadow: inset 100px 100px 120px salmon;
    color: #333333;
    border: none;
}

/*Footer*/
footer {
    background-color: antiquewhite;
    border-top: 2px solid silver;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.rights {
    float: right;
    width: 100%;
    text-align: right;
}